<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
       <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
       <!--xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">-->

<!--</beans>-->

<mapper namespace="com.ai.es.dao.MybatisDao">
    <resultMap id="result" type="com.ai.es.domain.Stock">
        <result property="code" column="股票代码" jdbcType="VARCHAR"/>
        <result property="name" column="名称" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="select" parameterType="com.ai.es.domain.Stock" resultMap="result">
        SELECT `股票代码`, `名称` FROM rd163;
    </select>
</mapper>